@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html, select, textarea, input, button {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

body {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 24px;
}

h1, h2, h3 {
  font-weight: normal;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 1em 2em;
}

a,
a:visited {
  text-decoration: none;
  font-weight: bold;
  color: green;
}

.blog-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.blog-list-item {
  margin: 2em 2em 2em 0;
}

.comments-header {
  margin-top: 4rem;
}

.comment {
  margin-bottom: 2rem;
}
